<div style="background-color:#e94a47; color: black; width: 100%; padding: 10px;">
    <div style="background-color: white; margin: 40px 10px;">
        <br>
        
        <br>
    </div>
</div>


<!-- 
<br>
<br>
<br>
<div style="background-color: cornflowerblue;"><br><br>




    El usuario zero.md@hotmail.com necesita un pedido para su contendor.
    Desea Pedir: sadsdsd



    Dirección: San Isidro, San Mateo Peñasco Oaxaca, Mexico, Tel.9876453210, C.P.69875
    Teléfono de Contacto: 9876453210
    Correo Electronico: zero.md@hotmail.com



    <br><br>
</div>
<div style="background-color:#e94a47; color: #dfd1d1; width: 100%; height: 70px;text-align: center;"></div> -->